[submodule "node-cache-async-lock"]
	path = node-cache-async-lock
	url = https://github.com/KhanhPham2411/node-cache-async-lock.git
	branch = master
[submodule "react-snap"]
	path = react-snap
	url = https://github.com/KhanhPham2411/react-snap.git
	branch = master
[submodule "mongodb-common"]
	path = mongodb-common
	url = https://github.com/KhanhPham2411/mongodb-common.git
	branch = master
[submodule "util-common"]
	path = util-common
	url = https://github.com/KhanhPham2411/util-common.git
	branch = master
[submodule "puppeteer"]
	path = puppeteer
	url = https://github.com/KhanhPham2411/puppeteer.git
	branch = master
